<!DOCTYPE html>
<html lang="cs"><head>
    <meta charset="UTF-8">
    <meta name="description" content="IT služby">
    <meta name="keywords" content="Sestavení PC, Servis PC, IT Poradna">
    <meta name="author" content="Adam Smolka">
    <title>Ceník - PC Help</title>
    <link rel='icon' href='favicon.ico' type='image/x-icon'/>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>

<header>
    <a class="logo" href="index.html">Komponator</a>
    <nav>
        <ul class="nav_links">
            <li><a href="cpu.php">CPU</a></li>
            <li><a href="gpu.php">GPU</a></li>
            <li><a href="./php/account/choose_login.php">Login</a></li>
            <li><a href="cart.php">Košík</a></li>
        </ul>
    </nav>
</header>

<div class="cenik">
    <h1 id="or_cenik">Orientační ceník</h1>

    <table style="width:70%">
        <tr>
            <th>Položka</th>
            <th>Cena</th>
        </tr>
        <tr>
            <td>Návrh, sestavení, testování PC</td>
            <td>1000 Kč</td>
        </tr>
        <tr>
            <td>Diagnostika problému s opravou</td>
            <td>zdarma</td>
        </tr>
        <tr>
            <td>Diagnostika problému bez opravy</td>
            <td>700 Kč</td>
        </tr>
        <tr>
            <td>Instalování, oprava</td>
            <td>400 Kč/hod</td>
        </tr>
        <tr>
            <td>Výměna komponent pro stolní PC</td>
            <td>500 Kč</td>
        </tr>
        <tr>
            <td>HW čištení PC</td>
            <td>400 Kč</td>
        </tr>
        <tr>
            <td>HW čištění notebook</td>
            <td>500 Kč</td>
        </tr>
        <tr>
            <td>Nanesení termo pasty</td>
            <td>200 Kč</td>
        </tr>
        <tr>
            <td>Reinstalace OS (včetně ovladačů a utilit)</td>
            <td>650 Kč</td>
        </tr>
        <tr>
            <td>Odvirování</td>
            <td>950 Kč</td>
        </tr>
        <tr>
            <td>Poradna - Problém ve Windows, Software</td>
            <td>Od 200 Kč</td>
        </tr>
        <tr>
            <td>Poradna - výběr nového zařízení</td>
            <td>Od 200 Kč</td>
        </tr>
        <tr>
            <td>Poradna - ostatní</td>
            <td>Od 100 Kč</td>
        </tr>
    </table>

    <h2 id="obj_kontakty">Objednej zde</h2>
    <ul style="list-style-type:circle">
        <li>Email: pchelp@komponator.cz</li>
        <li>Tel: 727 487 365</li>
    </ul>

</div>

<div class="footer_cenik">
    <p>Author: Adam Smolka, info@komponator.cz</p>
</div>


</body></html>